<h1><%= t("messages.listing") %></h1>

<table class="msgs">
<% @messages.each do |message| %>
  <tr>
    <td class="msgs_f"><%= t("messages.title") %></td>
    <td class="msgs_v"><%= truncate message.title, :length => 30 %></td>
    <td class="msgs_f"><%= t("messages.name") %></td>
    <td class="msgs_v"><%= truncate message.name, :length => 30 %></td>
    <td class="msgs_f"><%= t("messages.created_at") %></td><td class="msgs_v"><%= l message.created_at, :format => :default %></td>
    <td></td>
  </tr>
  <tr>
    <td class="msgs_f"><%= t("messages.content") %></td>
    <td colspan="6">
      <%= truncate message.content, :length => 80 %> <%= link_to t("messages.show_rest"), message %>
      <%= link_to t("messages.edit"), edit_message_path(message) %>
      <%= link_to t("messages.delete"), message, method: :delete, data: { confirm: t("messages.delete_confirm") } %>
    </td>
  </tr>
  <tr>
    <td class="msgs_s" colspan="7"></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t("messages.new"), new_message_path %>
