<h1><%= t("messages.listing") %></h1>

<table class="msgs">
<% @messages.each do |message| %>
  <tr>
    <td class="msgs_f"><%= t("messages.title") %></td>
    <td class="msgs_t"><%= link_to truncate(message.title, :length => 30), message %></td>
    <td class="msgs_f"><%= t("messages.name") %></td>
    <td class="msgs_n"><%= truncate message.name, :length => 30 %></td>
    <td class="msgs_f"><%= t("messages.created_at") %></td>
    <td class="msgs_d"><%= l message.created_at, :format => :default %></td>
    <td class="msgs_a">
      <% if can? :update, message %>
        <%= link_to t("messages.edit"), edit_message_path(message) %>
      <% end %>
      <% if can? :destroy, message %>
        <%= link_to t("messages.delete"), message, method: :delete, data: { confirm: t("messages.delete_confirm") } %>
      <% end %>
    </td>
  </tr>
  <% if can? :read, message %>
  <tr>
    <td class="msgs_f"><%= t("messages.content") %></td>
    <td colspan="6">
      <%= simple_format truncate(message.content, :length => 500, :separator => ' ') %>
    </td>
  </tr>
  <% end %>
  <tr>
    <td class="msgs_s" colspan="7"></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t("messages.new"), new_message_path %>
