<h1>Listing messages</h1>

<table>
  <tr>
    <th><%= t("messages.name") %></th>
    <th><%= t("messages.title") %></th>
    <th><%= t("messages.content") %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.name %></td>
    <td><%= message.title %></td>
    <td><%= message.content %></td>
    <td><%= link_to t("messages.show"), message %></td>
    <td><%= link_to t("messages.edit"), edit_message_path(message) %></td>
    <td><%= link_to t("messages.delete"), message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t("messages.new"), new_message_path %>
