<h1><%= t("messages.listing") %></h1>

<table class="msgs">
  <thead>
    <tr>
      <th class="msg_n"><%= t("messages.name") %></th>
      <th class="msg_t"><%= t("messages.title") %></th>
      <th class="msg_p"><%= t("messages.phone_number") %></th>
      <th class="msg_c"><%= t("messages.created_at") %></th>
      <th class="msg_c"><%= t("messages.visible_to") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @messages.each do |message| %>
    <tr>
      <td class="msg_n"><%= truncate message.name, :length => 30 %> <%= t("helpers.label.message.gender_%s" % message.gender) %></td>
      <td class="msg_t"><%= link_to truncate(message.title, :length => 30), message %></td>
      <td class="msg_p"><%= message.phone_number %></td>
      <td class="msg_c"><%= l message.created_at, :format => :default %></td>
      <td class="msg_c">
        <% if !message.user.blank? %>
          <% if message.user.username == current_user.username %>
            <%= t("messages.self") %>
          <% else %>
            <%= message.user.username %>
          <% end %>
        <% else %>
          <%= t("messages.user_not_defined") %>
        <% end %>
      </td>
      <td>
        <% if can? :update, message %>
          <%= link_to t("messages.edit"), edit_message_path(message) %>
        <% end %>
        <% if can? :destroy, message %>
          <%= link_to t("messages.delete"), message, method: :delete, data: { confirm: t("messages.delete_confirm") } %>
        <% end %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
