<p>
  <b><%= t("messages.name") %>:</b>
  <%= @message.name %>
</p>

<p>
  <b><%= t("messages.title") %>:</b>
  <%= @message.title %>
</p>

<p>
  <b><%= t("messages.content") %>:</b>
  <%= simple_format @message.content %>
</p>


<%= link_to t("messages.edit"), edit_message_path(@message) %> |
<%= link_to t("messages.back"), messages_path %>
