<h2><%= t "users.edit" %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :current_password %> <span class="required">*</span> <%= t("users.for_confirm_usage") %><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.label :username %> <span class="required">*</span><br />
  <%= f.text_field :username %></div>

  <div><%= f.label :email %> <span class="required">*</span><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password, t("helpers.label.user.new_password") %> <%= t("users.leave_blank_if_no_change") %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, t("helpers.label.user.new_password_confirmation") %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :role %> <span class="required">*</span>
  <%= f.collection_select :role, @roles, :to_s, :real_role_name %>
  </div>

  <div><%= t("messages.required").html_safe %></div>

  <div><%= f.submit t("users.update") %></div>
<% end %>
