<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("messages.error_saving") % @user.errors.count %>:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div><%= f.label :username %><br />
  <%= f.text_field :username %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %> <%= t("users.leave_blank_if_no_change") %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :role %>
  <%= f.collection_select :role, @roles, :to_s, :real_role_name %>
  </div>

  <div><%= f.submit t("users.update") %></div>
<% end %>
