<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("messages.error_saving") % @user.errors.count %>:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div><%= f.label :username %> <span class="required">*</span><br />
  <%= f.text_field :username %></div>

  <div><%= f.label :email %> <span class="required">*</span><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %>
    <% if !@user.id.nil? %>
      <%= t("users.leave_blank_if_no_change") %>
    <% else %>
      <span class="required">*</span>
    <% end %>
    <br />
  <%= f.password_field :password %></div>

  <div><%= f.label :role %> <span class="required">*</span>
  <%= f.collection_select :role, @roles, :to_s, :real_role_name %>
  </div>

  <div><%= t("messages.required").html_safe %></div>

  <div><%= f.submit t("users.update") %></div>
<% end %>
