<h1><%= t("users.details") %></h1>

<ul>
<% if !@user.blank? %>
  <% @user.attributes.delete_if {|attr| attr == "encrypted_password" }.each do |(a,b)| %>
    <li><strong><%= t("users.%s" % a) %>: </strong><%= b %></li>
  <% end %>
<% end %>
</ul>

<%= link_to t("users.edit"), edit_user_url(@user) %> |
<%= link_to t("users.back"), users_url %>
