<!DOCTYPE html>
<html>
<head>
  <title>留言系统</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav_bar_container">
  <div class="flash">
    <% if notice %><div class="notice"><%= notice %></div><% end %>
    <% if alert %><div class="alert"><%= alert %></div><% end %>
  </div>
  <ul class="nav_bar">
    <li><a href="/"><%= t "messages.new_msg" %></a></li>
    <%= render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items' %>
  </ul>
</div>


<%= yield %>

</body>
</html>
